@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


:root {
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#first-page {
    background: #d9e1ea !important;
    height: 140vh;
}

#second-page {
    background: #d9e1ea !important;
    height: 100vh;
}

.about-box {
    text-align: center;
    margin-top: 30px !important;
}

h1 {
    color: #384756 !important;
    font-weight: 500;
    font-size: 30px;

}

h3 {
    color: #888d94 !important;
}

.navigation-links {
    margin-top: 30px !important;
}

.contact-link {
    padding: 10px 20px;
    color: white;
    font-weight: 400;
    background-color: #384756;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 8px;
    transition: 0.2ms ease-in;

}

.contact-link:hover {
    background-color: #888d94;
    font-weight: 400;
    color: white;
}

.line {
    margin: 0 auto;
    height: 1px;
    width: 30%;
    background-color: #384756;
    margin-top: 40px;

}

.line h2 {
    text-align: center;
    font-weight: bold;
}

.project {
    margin-top: 120px;
}

.project img {
    box-shadow: var(--box-shadow);
}

.col-md-6 {
    margin-top: 10px;
}

.form-container {

    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
    width: 40%;
    height: 50vh;
    border: 1px solid #6e89a5;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
}

.form-container div {
    width: auto;
}


.form-container button {
    background-color: #384756;
    border: none;
}

.form-container button:hover {
    background-color: #6e89a5;
    border: none;
}

#contact {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: #384756;
}

.icons-container {

    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-container i {
    margin: 20px;
    font-size: 20px;
}

.icons-container a {
    text-decoration: none;
    color: black;
    transition: 0.3ms ease;
}

.icons-container a:hover {
    transform: scale(1.2);
}

#homepage-footer {
    text-align: center;
    margin-top: 40px;
}

#homepage-footer a {
    color: #384756;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    .form-container {
        width: 60%;
        height: 30vh;
    }
}